body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;  
    margin-left: 2em;
    margin-right: 2em;
}
h1{
    color: teal;
}
h2{
    color: teal;
    margin-bottom: 5px;
}
.f{
    font-weight: bold;
}
.l{
    font-weight: bold;
}
.e{
    font-weight: bold;
}
.d{
    font-weight: bold;
}
label {
    float: left;
    width: 12em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"], input[type="date"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    font-size: 20px;
}
#ct{
    margin-bottom: 10px;
    margin-top: 10px;
}
